<!DOCTYPE html>
<html>

<head>
    <title>Bluemix TopCop - Self Enablement</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/bakery.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" />

</head>

<body class="enablement no-scroll">
    <div class="container">
        <div class="row my-wrapper valign-wrapper no-border" id="f1">

            <div class="col s12 offset-s1 m6 offset-m1 l6">
                <p class="white-text">NEW ENABLEMENT GUIDANCE </p>
            </div>
            <div class="col s5 m4 l4 right-align">
                <img width="20%" src="./images/f1.png">
            </div>

        </div>

        <div class="row no-border opaco">

            <div class="col s8 offset-s1 ">
                <p class="flow-text white-text no-padding no-margin" style="font-weight:bolder; font-size:35px;">BLUEMIX</p>
                <p class="flow-text no-padding white-text no-margin" style="font-weight:bolder;font-size:35px;">TOP COP</p>
                <p class="flow-text no-padding no-margin2" style="color:#83d536;font-weight:bolder;font-size:35px;">TRACKS</p>
            </div>
        </div>

        <div class="row opaco no-border">

            <div class="col s12 center">
                <img src="./images/pontilhado.png" width="95%">
            </div>
        </div>

        <div class="row opaco no-border">
            <div class="col s12 center">
                <div class="carousel" id="gallery">
                    <!-- Added from js. -->
                </div>
                <p class="flow-text white-text" style="font-size: 25pt !important; " id="preview-title"></p>
            </div>
        </div>

        <div class="row opaco no-border">

            <div class="col s12 center">
                <img src="./images/pontilhado.png" width="95%">
            </div>
        </div>

        
        

        <div class="row opaco no-border final" >

            
        </div>



    </div>




    <!--Import jQuery before materialize.js-->

    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/util.js"></script>
    <script type="text/javascript" src="/scripts/gallery.js"></script>
</body>

</html>