<!DOCTYPE html>
<html>

<head>
  <title>Bluemix TopCop</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./images/bakery.png">
  <link rel="stylesheet" href="stylesheets/style.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,600" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css" media="screen,projection" />

</head>

<body>

  <div class="container">

    <div class="row my-wrapper valign-wrapper no-border" id="f1">

      <div class="col s12 offset-s1 m6 offset-m1 l6">
        <p class="white-text">NEW ENABLEMENT GUIDANCE </p>
      </div>
      <div class="col s5 m4 l4 right-align">
        <img  width="20%" src="./images/f1.png">
      </div>

    </div>

    <div class="row no-border opaco">

      <div class="col s8 offset-s1 ">
        <p class="flow-text white-text no-padding no-margin"style="font-weight:bolder; font-size:35px;">BECOME</p>
        <p class="flow-text no-padding white-text no-margin" style="font-weight:bolder;font-size:35px;">A BLUEMIX</p>
        <p class="flow-text no-padding no-margin2" style="color:#83d536;font-weight:bolder;font-size:35px;">TOP COP</p>
      </div>
    </div>

    <div class="row opaco no-border">

      <div class="col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

      <div class="col s9 offset-s1">
        <p class="white-text flow-text left justified" style="font-weight:bold;font-size:11pt;">IBM has cloud and AI cutting-edge technology, IBM has an important sales power openning doors and creating business
          opportunities for Innovation and Digital, and your company can take advantage becoming a Bluemix Top Cop Partner.</p>
      </div>
      
    </div>

<div class="row no-border">
    <div class="opaco col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

</div>
    <div class="row opaco my-wrapper valign-wrapper no-border">

      

      <div class="col s4 offset-s1 m2">
        <a href="/gallery"><img src="./images/timer.png" class="responsive-img adjusted" ></a>
      </div>
      
      <div class="col s8 pull-s1 ">
        <span class="card-title" style="color: #83d436;font-size:14pt;font-weight:bold;">SELF ENABLEMENT</span>
        <p class="white-text justified">Start by choosing a knowledge track, and go over collecting badges for each training. IBM has a vast repository of
          training, and besides it, you can take badges from any other known knowledge sources, as edX, MITx, Corsera, and
          others.
        </p>
        <em><h6 class="grey-text"> Aim is guide you to acquire most important skills to Innovate.</h6></em>

      </div>
     

    </div>
    <div class="row no-border">
    <div class="opaco col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

</div>


    <div class="row opaco my-wrapper valign-wrapper no-border">


      <div class="col s4 offset-s1 m2">
        <img src="./images/copo.png" class="responsive-img adjusted" >
      </div>
      <div class="col s8 pull-s1">
        <span class="card-title" style="color: #83d436;font-size:14pt;font-weight:bold;">WARM UP</span>
        <p class="white-text justified">After get skill enough, it is time to get tested. IBM created some challenges to validate their skills, trough developing
          an aplication in bluemix. You will get access to a portal and will be able to select a challenge to work with.
          At same portal you will have to schedule a date for present it to an IBM examiner board.</p>
        <em><h6 class="grey-text"> Goal is prove yourself, you can take your time to create the application.</h6></em>
      </div>
      

    </div>
    <div class="row no-border">
    <div class="opaco col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

</div>

    <div class="row opaco my-wrapper valign-wrapper no-border">

      <div class="col s4 offset-s1 m2">
        <img src="./images/maca.png" class="responsive-img adjusted">
      </div>
      <div class="col s8 pull-s1">
        <span class="card-title" style="color: #83d436;font-size:14pt;font-weight:bold;">QUALIFY</span>
        <p class="white-text justified">It is Pitch Time, you will take 15 minutes to make a bold pitch about their application created during warm-up phase.
          After the pitch, you will have 25 minutes to present your company and how your buzz works. In the end, IBM will
          use 20 minutes to explore both your technical skills and business aspects.</p>

      </div>
      

    </div>
    <div class="row no-border">
    <div class="opaco col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

</div>

    <div class="row opaco my-wrapper valign-wrapper no-border">

      <div class="col s4 offset-s1 m2">
        <img src="./images/bakery.png" class="responsive-img adjusted" >
      </div>
      <div class="col s8 pull-s1">
        <span class="card-title" style="color: #83d436;font-size:14pt;font-weight:bold;">RESIDENCE</span>
        <p class="white-text justified">If your company is approved by IBM board, your company will be invited to stay for 1-2 weeks working together our
          developers in our co-working, you will be available 2 seats for developers. This the last mile to become an official
          BMX Top Cop, and begin get advantage of our partnership.</p>

      </div>
     

    </div>
    <div class="row opaco">
    
      <br> 
    </div>

  </div>
  <!--Import jQuery before materialize.js-->
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script type="text/javascript" src="/scripts/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/materialize.min.js"></script>
</body>

</html>