<!DOCTYPE html>
<html>

<head>
  <title>IBM Cloud Warrior</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./images/bakery.png">
  <link rel="stylesheet" href="stylesheets/style.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,600" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css" media="screen,projection" />

</head>

<body>

  <div class="container">

    <div class="row my-wrapper valign-wrapper no-border" id="f1">

      <div class="col s12 offset-s1 m6 offset-m1 l6">
        <p class="white-text">NEW ENABLEMENT GUIDANCE </p>
      </div>
      <div class="col s5 m4 l4 right-align">
        <img  width="20%" src="">
      </div>

    </div>

    <div class="row no-border opaco">

      <div class="col s8 offset-s1 ">
        <p class="flow-text white-text no-padding no-margin"style="font-weight:bolder; font-size:35px;">BECOME</p>
        <p class="flow-text no-padding white-text no-margin" style="font-weight:bolder;font-size:35px;">AN IBM CLOUD</p>
        <p class="flow-text no-padding no-margin2" style="color:#0EA35B;font-weight:bolder;font-size:35px;">WARRIOR</p>
      </div>
    </div>

    <div class="row opaco no-border">

      <div class="col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

      <div class="col s9 offset-s1">
        <p class="white-text flow-text left justified" style="font-weight:bold;font-size:11pt;"> IBM has cloud and AI cutting-edge technology. Its sales power is opening doors and creating business opportunities for Innovation and Digital. Your company can take advantage becoming an IBM Cloud Warrior.</p>
      </div>

    </div>

<div class="row no-border">
    <div class="opaco col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>
</div>
    <div class="row opaco my-wrapper valign-wrapper no-border">



      <div class="col s4 offset-s1 m2">
        <a href="/gallery"><img src="./images/timer.png" class="responsive-img adjusted" ></a>
      </div>

      <div class="col s8 pull-s1 ">
        <span class="card-title" style="color: #83d436;font-size:14pt;font-weight:bold;">SELF ENABLEMENT</span>
        <p class="white-text justified"> Start by choosing a knowledge track, and go over collecting badges from each training. IBM has numerous recourses for training, and additionally you are also welcomed to take badges from any other known knowledge sources, such as edX, MITx, Corsera, etc.</p>
        <em><h6 class="grey-text"> Our aim is to guide you in attaining the most important skills to Innovate.</h6></em>
      </div>


    </div>
    <div class="row no-border">
    <div class="opaco col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

</div>


    <div class="row opaco my-wrapper valign-wrapper no-border">


      <div class="col s4 offset-s1 m2">
        <a href="/warmup"><img src="./images/copo.png" class="responsive-img adjusted" ></a>
      </div>
      <div class="col s8 pull-s1">
        <span class="card-title" style="color: #83d436;font-size:14pt;font-weight:bold;">WARM UP</span>
        <p class="white-text justified"> Once you are confident enough in your skills, it is time to get tested. IBM has created some challenges to validate your skills by developing an application in Bluemix. You will have access to an online portal and will be able to select a challenge to work with. At the same portal you will schedule a date to present to an IBM examiner board.</p>
        <em><h6 class="grey-text"> Opportunity for you to prove yourself. You can take your time to create the application.</h6></em>
      </div>


    </div>
    <div class="row no-border">
    <div class="opaco col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

</div>

    <div class="row opaco my-wrapper valign-wrapper no-border">

      <div class="col s4 offset-s1 m2">
        <img src="./images/maca.png" class="responsive-img adjusted">
      </div>
      <div class="col s8 pull-s1">
        <span class="card-title" style="color: #83d436;font-size:14pt;font-weight:bold;">QUALIFY</span>
        <p class="white-text justified">It is Pitch Time, you will have 15 minutes to make a bold pitch about your application created during the warm-up phase. After the pitch, you will have 25 minutes to present your company and how your business works. In the end, IBM will take 20 minutes to explore both your technical skills and other business aspects.</p>
      </div>


    </div>
    <div class="row no-border">
    <div class="opaco col s12 center">
        <img src="./images/pontilhado.png" width="95%">
      </div>

</div>

    <div class="row opaco my-wrapper valign-wrapper no-border">

      <div class="col s4 offset-s1 m2">
        <img src="./images/bakery.png" class="responsive-img adjusted" >
      </div>
      <div class="col s8 pull-s1">
        <span class="card-title" style="color: #83d436;font-size:14pt;font-weight:bold;">RESIDENCE</span>
        <p class="white-text justified">If the IBM board approves your company, you will be invited to stay for 1-2 weeks working together with our developers in our co-working environment (you will have 2 seats available for developers). This is the last mile to become an official BMX Top Cop and begin taking advantage of our partnership.</p>

      </div>


    </div>
    <div class="row opaco">

      <br>
    </div>

  </div>
  <!--Import jQuery before materialize.js-->
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script type="text/javascript" src="/scripts/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/materialize.min.js"></script>
</body>

</html>
