<!DOCTYPE html>
<html>

<head>
    <title>Warm Up</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./images/bakery.png">
    <link rel="stylesheet" href="stylesheets/warmup.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css" media="screen,projection" />

</head>

<body>

    <div class="container">

        <div class="row no-border opaco">

            <div class="col s12 " style="text-align:center;">
                <p class="flow-text white-text no-padding no-margin" style="font-weight:bolder; font-size:75px;">WARM</p>
                <p class="flow-text no-padding white-text no-margin2" style="font-weight:bolder;font-size:75px;">UP</p>
                <p></p>
                <p class="white-text flow-text no-margin" style="font-size:15pt;">TEST YOURSELF AND PREPARE TO</p>
                <p class="white-text flow-text " style="font-size:15pt;">PITCH</p>
            </div>
        </div>


        <div class="row no-border opaco">

            <div class="col m1">

            </div>

            <div class="col s12 m10" style="display:inline;">

                <div class="card" style="background-color:rgb(15,15,15);margin-bottom:-1.5%">
                    <img src="./images/white-man.png" class="left" style="margin-left:2%;margin-top:2%;">
                    <div class="card-content white-text" style="text-align:center">

                        <span class="flow-text" style="font-size:12pt">RETAIL SCENARIO</span>

                    </div>
                </div>

                <div class="card" style="background-color:#0DA35B;">
                    <div class="card-content white-text" style="text-align:center">

                        <p>RETAIL STORE WANTS A VIRTUAL SALES ASSISTANT TO HELP THEIR CLIENTS FIND A GIFT TO SOMEONE, ALSO VIRTUAL
                            ASSISTANT WILL HELP CLIENTS, UNDECIDED OR WITH FEW INFO, BUY A SPECIFIC PRODUCT. FOR EXAMPLE,
                            A CLIENT WANTS TO BUY A SMARTPHONE BUT HAS NOT DETAILS; AN OTHER CLIENT WANTS TO BUY CLOTHES
                            FOR GIVE TO SOMEONE AND DON'T KNOW WHAT CHOOSE.</p>
                    </div>
                </div>
            </div>


        </div>


        <div class="row no-border">

        </div>

        <div class="row no-border opaco">

            <div class="col m1">

            </div>

            <div class="col s12 m10" style="display:inline;">

                <div class="card" style="background-color:rgb(15,15,15);margin-bottom:-1.5%">
                    <img src="./images/world-web.png" class="left" style="margin-left:2%;margin-top:2%;">
                    <div class="card-content white-text" style="text-align:center">

                        <span class="flow-text" style="font-size:12pt">B2B2C CHALLENGE</span>

                    </div>
                </div>

                <div class="card" style="background-color:#0DA35B;">
                    <div class="card-content white-text" style="text-align:center">

                        <p>A B2B2C COMPANY HAS BEEN GETTING A LOW SALES PERFORMANCE FOR A SPECIFIC PRODUCT, AND ITS MARKETING
                            TEAM DOESN'T KNOW MUCH ABOUT THE CUSTOMERS. IN ORDER TO ADDRESS THIS ISSUE, COMPANY NEED TO FIND
                            A WAY TO KNOW DEEPLY ITS CUSTOMERS, AND CREATE A NEW CHANNEL TO INTERACT WITH THEM.</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="row no-border">

        </div>

        <div class="row no-border opaco">

            <div class="col m1">

            </div>

            <div class="col s12 m10" style="display:inline;">

                <div class="card" style="background-color:rgb(15,15,15);margin-bottom:-1.5%">
                    <img src="./images/logo-bot.png" class="left responsive-img" style="margin-left:2%;margin-top:2%;width:10%;height:10%;">
                    <div class="card-content white-text" style="text-align:center">

                        <span class="flow-text" style="font-size:12pt">FAILBOT CHALLENGE</span>

                    </div>
                </div>

                <div class="card" style="background-color:#0DA35B;">
                    <div class="card-content white-text" style="text-align:center">

                        <p>THERE ARE A LOT OF BOTS IN MARKET WHICH DOESN'T WORK PROPERLY, USUALY YOU GET NERVOUS TO INTERACT
                            WITH IT. THE CHALLENGE HERE IS RE-CREATE AND IMPROVE THE BOT USING IBM WATSON, DURING THE QUALIFY
                            STAGE YOU WILL HAVE TO SHOW THE PROBLEMS OF THE CHATBOT BEFORE YOUR IMPROVEMENTS, WHY THE BOT
                            WERE SO BAD, AND WHAT YOU DID TO GET IT BETTER. </p>
                    </div>
                </div>
            </div>


        </div>

        <div class="row no-border">

            <div class="opaco col s12 center">
                <hr class="hr-style">
            </div>

        </div>

        <div class="row no-border opaco">

            <div class="col m1">

            </div>

            <div class="col s6 m6 white-text left">

                <p class="item">1. Choose one of the challenges;</p>
                <p class="item">2. Build up your solution for the challenge;</p>
                <p class="item">3. Watch video "DO IT LIKE A NINJA" and get prepared to the Qualify stage</p>

            </div>

            <div class="col s5 m5 center">
                <a href="">
                <img class="responsive-img adjusted" src="./images/ninja-button.png" style="width:50%;height:50%;margin-top:16%;">
                </a>
            </div>

        </div>

        <div class="row no-border">

            <div class="opaco col s12 center">
                <hr class="hr-style">
            </div>

        </div>

        <div class="row no-border opaco">

            <div class="col m1">

            </div>

            <div class="col m2 white-text left">
                <a href="">
                <img src="./images/agenda.png" style="width:65%;height:65%;margin-top:16%">
                </a>
            </div>

            <div class="col m8 ">
                <a href="">
                <p class="white-text flow-text">SCHEDULE YOUR QUALIFY</p>
                </a>
            </div>

        </div>


        <div class="row no-border">

            <div class="opaco col s12 center">
                <hr class="hr-style">
            </div>

        </div>


        <div class="row opaco">
            <br>
        </div>

    </div>
    <!--Import jQuery before materialize.js-->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/materialize.min.js"></script>
</body>

</html>